@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --footer-height: 30px;
    --padding-top: 30px;
}

/* Ensure the body and html tags take up the full height of the viewport */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
}

.page-content {
    width: 800px;
    margin: 0 auto;
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
}


.topbar {
    display: flex;
    justify-content: space-between; /* Aligns children to the start and end of the container */
    align-items: center; /* Aligns children vertically in the center */
    width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.topbar-left {
    display: flex;
    gap: 20px; /* Adds a gap between the right-aligned text elements */
    align-items: center;
}

.topbar-separator {
    width: 1px; /* Thickness of the separator */
    height: 20px; /* Thickness of the separator */
    background-color: rgba(0, 0, 0, 0.2);
}

.linkedin-icon {
    fill: rgb(10,102,194);
}
.linkedin-icon:hover {
    fill: rgb(60, 132, 205);
}

.github-icon {
    fill: rgb(60,60,60);
}
.github-icon:hover {
    fill: rgb(110, 110, 110);
}

.email-addresss {
  font-size: 13px;
}

.topbar-right {
    display: flex;
    gap: 30px; /* Adds a gap between the right-aligned text elements */
}

.page-links {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(60, 60, 60);
}
.page-links:hover {
    color: rgb(100, 120, 200);
}

.page-links-current {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(60, 60, 60);
    border-bottom: 2px solid; /* currentColor makes the border the same color as the text */
    padding-bottom: 0px; /* Adjust space between text and underline */
}


.name-title {
    font-family: "Kanit", sans-serif;
    font-size: 22px;
}

.header-hr {
  border: 0;
  height: 1px; /* Thickness of the line */
  background-color: rgba(0, 0, 0, 0.2);
 }

footer {
    position: fixed;
    flex-shrink: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: rgb(150, 150, 150);
    background-color: rgb(245, 245, 245);
    width: 100%;
}